1. Write a Python Program to accept the details of a student like name, roll number
and mark and display it.

Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78

Sample output:
Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name = input('Enter the name: ')
roll_number = input('Enter the roll number: ')
mark = input('Enter the mark: ')
print("Name=",name,"\nRoll number",roll_number,"\nMark",mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name= Anisha
Roll number 21
Mark 78

2. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] 

Sample input: Temperature in Fahrenheit =41

Sample output: Temperature in Celsius =5

In [ ]:
f =int(input('Enter temperature in Fahrenheit: '))
c = int((f-32)*5/9)
print('Temperature in Celsius: ',c)

Enter temperature in Fahrenheit: 41
Temperature in Celsius:  5

In [ ]:
c = int(input('Enter Temperature in Celsius: '))
f = int(32+(c*9/5))
print('temperature in Fahrenheit: ',f)

Enter Temperature in Celsius: 5
temperature in Fahrenheit:  41

3. Write a Python program to accept two numbers from the user and display
its product.

In [ ]:
number_1 = int(input('Enter First number: '))
number_2 = int(input('Enter Second number: '))
Product = number_1*number_2
print('Product of First and Second number:',Product)

Enter First number: 4
Enter Second number: 5
Product of First and Second number: 20

4. Write a Python program to accept a string “Learn Python by Developing a
Website” and display the string like “Learn**Python** by Developing a **Website**”

In [33]:
string_1 = str(input('Enter the statement: '))
x = string_1.replace("Python", "**Python**")
y = x.replace("Website", "**Website**")
print(y)

Enter the statement: “Learn Python by Developing a Website”
“Learn **Python** by Developing a **Website**”

5. Write a Python program to accept the radius of a circle and display its area.

In [34]:
import math
r= int(input('enter the radius of circle: '))
area = (math.pi*r*r)
print('Area of the Circle:',area)
txt ="Area of the Circle: {area:.2f}"
print(txt.format(area= area))

enter the radius of circle: 1
Area of the Circle: 3.141592653589793
Area of the Circle: 3.14

6. Python program to insert a number to any position in a list (Get the number to
be inserted and position from the user)

In [36]:
list_1 = [11,31,13,14,51]
list_1.insert(2,6)
list_1

[11, 31, 6, 13, 14, 51]

7. Write a program to rename a key city to a location in the following dictionary.

sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [37]:
dict_1 = {'name':'John','age':'20','salary':8000,'city':'New York'}
dict_1['city']= 'Cochin'
dict_1

{'name': 'John', 'age': '20', 'salary': 8000, 'city': 'Cochin'}

8. Write a Python program to change Brad’s salary to 8500 in the following
dictionary

sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [38]:
dict_2 = { 'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500} }
dict_2['emp3']['salary']=8500
dict_2

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

9. Write a program to copy elements 43 and 54 from the following tuple into a
new tuple. 
Given: tuple1 = (10, 20, 43, 54, 56, 68)

In [39]:
tuple_1 = (10, 20, 43, 54, 56, 68)
tuple_2 =(tuple_1[2],tuple_1[3])
tuple_2

(43, 54)

10. Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [40]:
tuple_3 = (50, 10, 60, 70, 50,83,567,50,81)
tuple_3.count(50)

3